@import url("https://fonts.googleapis.com/css?family=Nunito");
/* line 3, ../sass/client.scss */
body {
  margin: 0;
  font-family: "Nunito";
}

/* line 8, ../sass/client.scss */
.img-loader {
  display: none;
}

/* line 12, ../sass/client.scss */
#character-canvas {
  display: none;
}

/* line 16, ../sass/client.scss */
#pattern-canvas {
  display: none;
}

/* line 19, ../sass/client.scss */
#char-creator {
  width: 250px;
}

/* line 23, ../sass/client.scss */
#char-column {
  margin-top: 70px;
}

/* line 27, ../sass/client.scss */
.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 33, ../sass/client.scss */
.button {
  display: block;
  margin: 15px auto auto;
}

/* line 38, ../sass/client.scss */
.main-container {
  height: 100%;
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* line 47, ../sass/client.scss */
#game-window {
  position: absolute;
  display: grid;
  top: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

/* line 55, ../sass/client.scss */
#inv-header {
  width: 420px;
  margin-right: -7px;
}

/* line 61, ../sass/client.scss */
.inv-tab {
  background: #020e90;
  color: white;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 -5px 0 0;
}

/* line 70, ../sass/client.scss */
.selected.inv-tab {
  background: #01095b;
}

/* line 74, ../sass/client.scss */
#inv-cont {
  background: #01095b;
  height: 300px;
}

/* line 80, ../sass/client.scss */
.loading-bar {
  width: 0;
  position: fixed;
  transition: width 0.5s;
  background: #01095b;
  height: 33.4%;
}

/* line 88, ../sass/client.scss */
#loading-bar-2 {
  background: #d33893;
  right: 0;
  top: 33.3%;
}
/* line 92, ../sass/client.scss */
#loading-bar-2 .load-top {
  background: #d33893;
  color: #ff44b1;
}

/* line 97, ../sass/client.scss */
#loading-bar-3 {
  top: 66.6%;
}

/* line 102, ../sass/client.scss */
#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #01095b;
}

/* line 109, ../sass/client.scss */
.login-window {
  color: white;
  padding: 20px;
  background: rgba(20, 22, 41, 0.47);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
/* line 117, ../sass/client.scss */
.login-window input {
  width: 394px;
  height: 34px;
  padding: 5px 10px;
  font-size: 22px;
  background: none;
  border: 2px dotted white;
  color: white;
  margin-bottom: 10px;
}
/* line 126, ../sass/client.scss */
.login-window input:focus {
  box-shadow: 0px 0px 11px 0px rgba(255, 255, 255, 0.6);
}
/* line 131, ../sass/client.scss */
.login-window button {
  font-size: 20px;
  background: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 7px;
  width: 110px;
  cursor: pointer;
}
/* line 140, ../sass/client.scss */
.login-window button:hover {
  text-decoration: underline;
}
/* line 144, ../sass/client.scss */
.login-window a {
  margin-left: 211px;
  color: white !important;
  font-size: 22px;
}
/* line 149, ../sass/client.scss */
.login-window .label {
  font-size: 16px;
}
/* line 153, ../sass/client.scss */
.login-window .success-text {
  color: #5dd65d;
  font-size: 22px;
}
/* line 157, ../sass/client.scss */
.login-window .fail-text {
  color: red;
}

/* line 163, ../sass/client.scss */
#header {
  position: absolute;
  width: 100%;
  background: #01095b;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
}
/* line 170, ../sass/client.scss */
#header a {
  color: white;
  text-decoration: none;
  margin: 0 25px;
  cursor: pointer;
}
/* line 175, ../sass/client.scss */
#header a:hover {
  text-decoration: underline;
}
/* line 179, ../sass/client.scss */
#header #logout {
  position: absolute;
  right: 0;
}

/* line 185, ../sass/client.scss */
#play-cont {
  position: absolute;
  width: 100%;
  left: 0;
  height: 60px;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 194, ../sass/client.scss */
#play-cont #play-match {
  z-index: 9;
  font-size: 30px;
  line-height: 60px;
  color: white;
  position: absolute;
  background: #222656;
  text-align: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 0 30px;
  cursor: pointer;
}
/* line 206, ../sass/client.scss */
#play-cont #play-match:hover {
  text-decoration: underline;
}
